body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
/* ---------------------------------------------------------HOME--------------------------------------------------------- */

/* HEADER */
header {
    height: 10vh;
    font-size: 1.5em;
    font-weight: 700;
}

header .logo{
    width: 150px;
}
header .profile{
    width: 100px;
    height: 60px;
    cursor: pointer;
}

header .btn{
    font-size: 1em;
    font-weight: 700;
}
.navbar {
    background-color: #000000;
    border: 1px solid #707070;
    box-shadow: -2px -2px 10px;
}

@media only screen and (max-width: 992px) {
    .navbar-nav{
        display: none;
    }

    header .logo{
        width: 100px;
    }
    header .profile{
        width: 90px;
        height: 50px;
    }

    header {
        font-size: 1em;
    }
    
    header .btn{
        font-size: 1em;
    }
}

header .container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgba(235,192,46,1);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* MODAL */

.modal-header {
    border-bottom: none;
    padding: 1rem;
}    
    
.modal-main {
    text-align: center;
}

.modal-content {
    width: 550px;
}

.form-control {
    border: 0;
    border-bottom: 1px solid #FDCA0C;
    border-radius: 0;
}

#facegmail {
    margin-right: 0px;
    margin-left: 0px;
}

.modal .btn-primary {
    width: 185px;
    height: 50px;
    font-size: 25px;
}
    
.modal .btn-danger {
    width: 185px;
    height: 50px;
    font-size: 25px;
}

.modal .btn-warning {
    height: 50px;
    width: 420px;
    border-radius: 15px;
    font-size: 25px;
}

.fonte-cinza {
    font-size: 17px;
    color: #8E8D8D;
}

.senha-cinza {
    font-size: 12px;
    color: #8E8D8D;
}

.link {
    color: #FDCA0C;
}

/* BANNER */

#banner p {
    font-size: 1.5em;
    font-weight: 700;
    color: #3D3103;
}

/* TRILHAS */

#trilhas{
    background-color: #000000;
    border: 1px solid #707070;
}

#trilhas p {
    font-size: 1.5em;
    font-weight: 700;
}

#trilhas .card img{
    width: 70px;
    height: 70px;
}

#trilhas .card{
    font-size: 0.6em;
    position: relative;
    border-radius: 10px;
}

#trilhas .card .capa {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#trilhas .card .texto {
    padding: 25% 0 25% 0;
}

@media only screen and (max-width: 992px) {
    #trilhas p {
        font-size: 0.6em;
    }

    #trilhas .card img{
        width: 50px;
        height: 50px;
    }

    #trilhas .card{
        font-size: 1em;
    }
}

#trilhas span{
    font-size: 0.8em;
    font-weight: 600;
}

/* SOBRE */

#sobre{
    background-color: #FDCA0C;
    border: 1px solid #707070;
}

#sobre p {
    font-size: 1.5em;
    font-weight: 700;
}

/* PLANOS */

#planos{
    border: 1px solid #707070;
}

#planos P {
    color: #000000;
    font-size: 1.5em;
    font-weight: 700;
}

#planos li {
    color: #000000;
    font-weight: 600;
}

#planos .btn{
    background-color: #0F0F0F;
}

@media only screen and (max-width: 992px) {
    #planos .card {
        font-size: 0.5em;
    }

    #planos .btn{
        font-size: 1em;
    }
}

/* FOOTER */

footer{
    background-color: #000000;
    border: 1px solid #707070;
}
@media only screen and (max-width: 992px) {
    footer {
        font-size: 0.6em;
    }

    /* footer div{
        margin-top: 0;
    } */
}

/* footer div{
    margin-top: -5vh;
} */

/* CHAT */

.chatHeader{
    display: flex;
    flex-direction: row;
}

.chatTitle{
    padding: 30px 0 0 120px;
}

.chatTitle h1{
    font: Bold 50px Poppins;
    letter-spacing: 0;
    color: #0F0F0F;
    opacity: 1;
}

.fotoUsuario{
    margin-left: 720px;
    margin-top: 10px;
}

.fotoUsuario img{
    width: 54px;
}

.chat{
    background-color: #F8F8F8AF;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menuHamburguer{
    padding: 15px 0 0 15px;
}
.menuHamburguer img{
    width: 70px;
}

.mensagemRecebida{
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 0 0 0 136px;
    height: 120px;
}

.conteudoMensagem p{
    background-color: #FCDC65;
    box-shadow: 0px 8px 9px #00000029;
    border-radius: 47px 47px 47px 0px;
    opacity: 1;
    font-size: 25px;
    font-family: Poppins;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 10px 30px;
    margin-left: 20px;
}

.perfilChat{
    text-align: center;
    padding: 35px 0 0 0;
}
.perfilChat img{
    width: 82px;
}

.perfilChat p{
    text-align: center;
    font: Bold 15px Poppins;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.mensagemEnviada{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    place-items: center;
    padding: 0 30px 0 0;
    height: 120px;
}

.conteudoMensagemSend p{
    background-color: #FCDC65;
    box-shadow: 0px 8px 9px #00000029;
    border-radius: 47px 47px 0px 47px;
    opacity: 1;
    font-size: 25px;
    font-family: Poppins;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 10px 30px;
    margin-right: 20px;
}

.meuPerfilChat{
    text-align: center;
    padding: 35px 0 0 0;
}

.meuPerfilChat img{
    width: 82px;
}

.meuPerfilChat p{
    text-align: center;
    font: Bold 15px Poppins;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.campoMensagem{
    display: flex;
    background-color: #D1D1D1;
    border: 1px solid #707070;
    opacity: 1;
    height: 85px;
    align-items: center;
}

.digitarMensagem{
    width: 90%;
    text-align: center;
}

.digitarMensagem p{
    font-family: Poppins;
    font-size: 25px;
    letter-spacing: 0;
    color: #0F0F0F;
    opacity: 1;
}

.botaoDeEnvio{
    width: 10%;
    align-items: center;
}

.botaoDeEnvio img{
    width: 70px;
}


.dtTeste{
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dtTesteDois{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 14%;
}

.bpOnline{
    background-color: #0F0F0F;
    height: 100vh;
}

.bpOnline h2{
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    color: #F1F1F1;
    opacity: 1;
    margin-bottom: 20px;
}

.bpOnline p{
    color: #F1F1F1;
}